@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');

/* this style for preloader */
#loader {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #eab676;
}

h3 {
    font-family: sans-serif;
}


svg {
    width: 50px;
    fill: #21130d;
}

#first {
    animation: move 0.5s linear infinite;
    animation-direction: alternate-reverse;
    position: relative;
}

#second {
    animation: move 0.5s linear infinite;
    animation-direction: alternate-reverse;
    animation-delay: 0.22s;
    position: relative;
}

#third {
    animation: move 0.5s linear infinite;
    animation-direction: alternate-reverse;
    animation-delay: 0.4s;
    position: relative;
}

@keyframes move {
    from {
        top: -15px;
        fill-opacity: 0.1;

    }

    to {
        top: 0;
        fill-opacity: 1;
    }
}
/* preloader style ends here */
div ul .items a {
    color: white;
    font-size: larger;
    font-weight: bolder;
    padding-right: 50px;
}

div ul .items a:hover {
    transition: 0.5s ease;
    color: #fc0254;
    text-decoration: underline;
}

div .clickbutton {
    background-color: #fb475f;
    color: white;
    border-radius: 10px;
}

div .clickbutton:hover {
    background-color: #ff1b39;
    color: white;
    border-radius: 15px;
}

.con {
    border-radius: 13px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #06102c;
    box-shadow: 10px 10px 28px 7px #ff1b39;
    padding: 3rem 3rem;
    text-decoration: underline;
    text-decoration-color: #fb475f;
}

.con li {
    font-weight: bold;
    font-size: large;
}

.hoverimg img:hover {
    transition: 0.5s ease;
    cursor: pointer;
    box-shadow: 2px 7px 44px 4px rgba(0, 0, 0, 0.75);
}

.grow {
    transition: 1s ease;
}

.grow:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    cursor: pointer;
}

.brandicons li {
    padding-right: 10px;
    padding-left: 10px;
}

.brandicons li:hover {
    box-shadow: 2px 7px 44px 4px rgba(255, 57, 57, 0.989);
    background-color: #fc0254;
    border-radius: 20px;
    transition: 0.5s ease;
}